.Row{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 5px; /*Optional*/
    margin-top: 150px;
    border: 1px solid black;
}

.Col{
    display: table-cell;
    border: 1px solid black;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0.4);
    
}

.header{
    margin-top: 100px;
}

